* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clock {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  border: 5px solid blue;
  margin: 0 auto;
}

.arrow-vertical {
  width: 3px;
  height: 10px;
  background-color: black;
  position: absolute;
}

.arrow-60 {
  top: 0px;
  left: 50%;
}

.arrow-30 {
  left: 50%;
  bottom: 0px;
}

.arrow-horizontal {
  width: 10px;
  height: 3px;
  background-color: black;
  position: absolute;
}

.arrow-15 {
  top: 50%;
  right: 0px;
}

.arrow-45 {
  left: 0px;
  top: 50%;
}

.arrow-45::after {
  content: "45";
  position: absolute;
  left: 12px;
  top: -15px;
  font-size: 26px;
}

.arrow-60::after {
  content: "60";
  position: absolute;
  left: -10px;
  top: 10px;
  font-size: 26px;
}

.arrow-30::after {
  content: "30";
  position: absolute;
  left: -10px;
  bottom: 7px;
  font-size: 26px;
}

.arrow-15::after {
  content: "15";
  position: absolute;
  right: 10px;
  bottom: -15px;
  font-size: 26px;
}

.main-arrow {
  position: absolute;
  width: 3px;
  height: 49%;
  background-color: red;
  left: 50%;
  top: 3px;
  rotate: 90deg;
  transform-origin: center 95%;
  animation-name: timer;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes timer {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
